# Fichiers Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Notebooks checkpoints
.ipynb_checkpoints/

# Données & modèles
data/
datasets/
*.h5
*.hdf5
*.ckpt
*.pb
*.tflite
*.pt
*.onnx
*.joblib
*.pkl
*.sav
models/
logs/
outputs/
runs/
weights/

# MLflow
mlartifacts/

mlruns/
*.h5
*.keras


# Environnements virtuels
env/
venv/
.venv/

# Fichiers système
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/



# Fichiers de test ou de debug
*.log
*.tmp
*.bak

# Secrets (à ne jamais versionner)
.env
.env.*
*