# ⛔ Environnements virtuels
env/
venv/
.venv/

# ⛔ Données & datasets
data/
datasets/

# ⛔ Artefacts MLflow
mlruns/

# ✅ On garde les notebooks, images, scripts, etc.

# 🧹 Fichiers Python compilés
__pycache__/
*.py[cod]

# 🧹 Notebooks checkpoints
.ipynb_checkpoints/

# 🧹 Fichiers système
.DS_Store
Thumbs.db

# 🧹 Fichiers temporaires et de log
*.log
*.tmp
*.bak

# 🧹 Visual Studio Code
.vscode/

# ⛔ Fichiers de modèle lourds (optionnel si jamais tu en ajoutes à la racine)
*.h5
*.keras
*.ckpt
*.pt
*.onnx
*.pb
*.pkl
*.joblib
*.sav

# ⛔ Fichiers d’environnement ou secrets
.env

.env.*
